USE [master]
GO
/****** Object:  Database [CRM]    Script Date: 14/7/2024 23:24:37 ******/
CREATE DATABASE [CRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Longo-Carpeta-IS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Longo-Carpeta-IS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Longo-Carpeta-IS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Longo-Carpeta-IS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRM]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[nombre] [varchar](100) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[permiso] [varchar](50) NULL,
 CONSTRAINT [PK_permiso_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_permiso]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_permiso](
	[id_permiso_padre] [int] NULL,
	[id_permiso_hijo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[id] [uniqueidentifier] NOT NULL,
	[idioma_id] [uniqueidentifier] NOT NULL,
	[etiqueta_id] [uniqueidentifier] NOT NULL,
	[texto] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[idioma_id] ASC,
	[etiqueta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[apellido] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios_permisos]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_permisos](
	[id_usuario] [uniqueidentifier] NOT NULL,
	[id_permiso] [int] NOT NULL,
 CONSTRAINT [PK_usuarios_permisos] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_traduccion_etiqueta_id]    Script Date: 14/7/2024 23:24:37 ******/
CREATE NONCLUSTERED INDEX [idx_traduccion_etiqueta_id] ON [dbo].[Traduccion]
(
	[etiqueta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_traduccion_idioma_id]    Script Date: 14/7/2024 23:24:37 ******/
CREATE NONCLUSTERED INDEX [idx_traduccion_idioma_id] ON [dbo].[Traduccion]
(
	[idioma_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[permiso_permiso]  WITH CHECK ADD  CONSTRAINT [FK_permiso_permiso_permiso] FOREIGN KEY([id_permiso_padre])
REFERENCES [dbo].[permiso] ([id])
GO
ALTER TABLE [dbo].[permiso_permiso] CHECK CONSTRAINT [FK_permiso_permiso_permiso]
GO
ALTER TABLE [dbo].[permiso_permiso]  WITH CHECK ADD  CONSTRAINT [FK_permiso_permiso_permiso1] FOREIGN KEY([id_permiso_hijo])
REFERENCES [dbo].[permiso] ([id])
GO
ALTER TABLE [dbo].[permiso_permiso] CHECK CONSTRAINT [FK_permiso_permiso_permiso1]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([etiqueta_id])
REFERENCES [dbo].[Etiqueta] ([id])
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([idioma_id])
REFERENCES [dbo].[Idioma] ([id])
GO
/****** Object:  StoredProcedure [dbo].[borrar_permiso_permiso]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure  [dbo].[borrar_permiso_permiso]  @id int as

begin

delete from permiso_permiso where id_permiso_padre =@id 

end 
GO
/****** Object:  StoredProcedure [dbo].[crea_usuario_default]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[crea_usuario_default]  @Email varchar(100) as


begin 

SELECT COUNT(*) FROM Usuario WHERE email = @Email

end
GO
/****** Object:  StoredProcedure [dbo].[familia_guardar]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[familia_guardar] @id_permiso_padre int , @id_permiso_hijo int as

begin 

insert into permiso_permiso (id_permiso_padre,id_permiso_hijo) values (@id_permiso_padre,@id_permiso_hijo)

end
GO
/****** Object:  StoredProcedure [dbo].[familias_listar]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[familias_listar]    as
	begin
	select * from permiso p where (p.permiso is  null) and len(p.nombre)>0
	end 
GO
/****** Object:  StoredProcedure [dbo].[fillusercomponents]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure   [dbo].[fillusercomponents] @id uniqueidentifier  AS 
BEGIN


select p.* from usuarios_permisos up inner join permiso p on up.id_permiso=p.id where id_usuario=@id


END
GO
/****** Object:  StoredProcedure [dbo].[GetAllPermissions]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPermissions]
    @familia VARCHAR(100) = NULL  -- Parametro opcional, por defecto NULL
AS
BEGIN
    --SET NOCOUNT ON;

    ---- Si familia es NULL, obtiene todos los permisos, sino solo los de esa familia
    --IF @familia IS NULL
    --BEGIN
    --    SELECT p.id, p.nombre, p.permiso
    --    FROM permiso p
    --END
    --ELSE
    BEGIN
        WITH recursivo AS (
            SELECT sp2.id_permiso_padre, sp2.id_permiso_hijo
            FROM permiso_permiso sp2
            WHERE sp2.id_permiso_padre = @familia
            UNION ALL
            SELECT sp.id_permiso_padre, sp.id_permiso_hijo
            FROM permiso_permiso sp
            INNER JOIN recursivo r ON r.id_permiso_hijo = sp.id_permiso_padre
        )
        SELECT r.id_permiso_padre, r.id_permiso_hijo,p.id, p.nombre,p.permiso
        FROM recursivo r
        INNER JOIN permiso p ON r.id_permiso_hijo = p.id
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[permiso_guardar]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[permiso_guardar] @nombre varchar(100),@permiso varchar(100)  as 
begin

insert into permiso values (@nombre,@permiso)

end;
GO
/****** Object:  StoredProcedure [dbo].[permiso_listar]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[permiso_listar]
AS
BEGIN
	select * from permiso where permiso is not null
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AsignarPermisos]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_AsignarPermisos] @id_usuario uniqueidentifier,@id_permiso int as begin

insert into usuarios_permisos (id_usuario,id_permiso) values (@id_usuario,@id_permiso)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarPermisos]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_EliminarPermisos] @id uniqueidentifier as begin

delete from usuarios_permisos where id_usuario=@id

end
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUsuario]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_InsertarUsuario]  @Email varchar(100), @Id Uniqueidentifier, @password nvarchar(255),@Nombre nvarchar(255),@Apellido nvarchar(255) as


begin 

insert into Usuario (id,email,password,nombre,apellido) values (@Id,@Email,@password,@Nombre,@Apellido)
end

GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoginUsuario]
    @Email nvarchar(255),
    @Password nvarchar(255)
AS
BEGIN
    SELECT id, email, password, nombre, apellido
    FROM Usuario
    WHERE email = @Email AND password = @Password;
END;
GO
/****** Object:  StoredProcedure [dbo].[usuarios_listar]    Script Date: 14/7/2024 23:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usuarios_listar] as  

begin
select id as id_usuario,email,password,nombre,apellido from Usuario

end 
GO
USE [master]
GO
