CREATE TABLE ticket_comentarios (
    comentario_id INT IDENTITY(1,1) PRIMARY KEY,          -- Clave primaria única
    ticket_id UNIQUEIDENTIFIER NOT NULL,                  -- Identificador del ticket
    usuario_id UNIQUEIDENTIFIER,                          -- Usuario (cliente o técnico) que hizo el comentario
    comentario NVARCHAR(MAX) NOT NULL,                    -- Comentario hecho sobre el ticket
    fecha_comentario DATETIME NOT NULL DEFAULT GETDATE(), -- Fecha en la que se hizo el comentario
    es_tecnico BIT NOT NULL,                              -- Indica si el comentario fue hecho por un técnico (1) o cliente (0)
    CONSTRAINT FK_ticket FOREIGN KEY (ticket_id) REFERENCES tickets (ticket_id),
    CONSTRAINT FK_usuario FOREIGN KEY (usuario_id) REFERENCES usuarios (usuario_id)
);
