<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=.\SQLEXPRESS;
                         Initial Catalog=CRM;
                         Integrated Security=True;" />
	</connectionStrings>

	<appSettings>
		<add key="BackupFolder" value="C:\hra-managment\backups"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
