<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<connectionStrings>
		<add name="connectionString"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CRM_TEST;Integrated Security=True;" />
	</connectionStrings>

	<appSettings>
		<!-- Carpeta general de backups -->
		<add key="BackupFolder" value="C:\Backups" />

		<!-- Archivo específico del backup -->
		<add key="ArchivoBackup" value="C:\Backups\QuantumCRM.bak" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
